.uncolored{
    background: white;
}

.colored-background {
    background: #D9F3FD;
}

img {
    height: 54px;
    width: 54px;
}

.row {
    padding: 1.5rem 0 1.5rem 0;
}

.txt1 {
    font-size: 1.3rem;
    color: #0062B1;
}

.txt2 {
    font-size: 0.8rem;
    color: grey;
}
