.uncolored{
    background: white;
}

.colored-background {
    background: #D9F3FD;
}

img {
    height: 54px;
    width: 54px;
}

.information-view{
    display: flex;
    justify-content: center;
    align-self: center;
}

.txt1 {
    font-size: 1.3rem;
    color: #0062B1;
}

.txt2 {
    font-size: 0.8rem;
    color: grey;
}
.header-question{
    padding-top:25px;
    padding-bottom: 25px;
}
.text-down-inside-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

hr{
    width: 100%;
}

.indside-header-textUnderLine{
    font-size: 12px;
    padding-bottom: 16px;
}


.blank{
    padding-top: 2.5rem;
}
.align-items-inside{

    background-color: rgba(128, 128, 128, 0.116);
}

.inside-header-question{
    padding-right: 0;
}

.inside-header-question img{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.point{
    position: relative;
    &::after{
        border-radius: 15px;
        background: gray;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        top: 100%;
        content: '';
        margin-top: -6px;
        left:50%;
        margin-left: -8px;
    }
}

.align-items-inside{
    hr{
        width: 80%;
    }
}

.text-blank{
    margin-top: 3rem;
    margin-bottom: 8em;
}
.load-more{
    color: red;
}


// menu 


.input-group{
    padding: 0 0 0 0;
}
.question-style{
    padding: 0 0 0 0;
    font-weight: 700;
    font-size: 2rem;
}
menu img {
    width: 32px;
    height: 32px;
}

.filter-by-author {
    width: auto;
}
.space-pad1{
    margin-left: 15px;
    margin-right: 15px;
}
.space-pad2{
    margin-left: 15px;
}

.vertical-allign{
    display: flex;
    height: 100%; 
    align-items:center;
}

.last-col span{
    margin-left: 3px;
    margin-right: 3px;
}
.last-col span {
    :hover{
        color:grey;
    }
}
