<div class="container-fluid header-question">
    <ul class="list-unstyled">

        <li *ngFor="let row of rows">

            
            <div class="row">
                <div class="col-md-2 uncolored "></div>
                <div class="col-md-1 text-center colored-background header-question">
                    <img [src]="row.author.imgPath" class="img-circle" alt="Cinque Terre">
                </div>
                <div class="col colored-background header-question">
                    <h2 class="txt1">{{row.author.name}}
                        <span class="txt2">IS ASKING</span>
                    </h2>
                    <h3 class="txt1">{{row.title}}</h3>
                </div>
                <div class="col-md-2 uncolored"></div>
            </div>


            <!-- <div class="row">
                <div class="col-md-2 uncolored "></div>
                <div class="col-md-1 text-center colored-background inside-header-question">
                    ssss
                </div>
                <div class="col colored-background inside-header-question">
                    sss
                </div>
                <div class="col-md-2 uncolored"></div>
            </div> -->

            
            <div class="uncolored">
                <br>
                <br>
            </div>
        
        </li>

    </ul>

</div>
