.uncolored{
    background: white;
}

.colored-background {
    background: #D9F3FD;
}

img {
    height: 54px;
    width: 54px;
}



.txt1 {
    font-size: 1.3rem;
    color: #0062B1;
}

.txt2 {
    font-size: 0.8rem;
    color: grey;
}
.header-question{
    padding-top:25px;
    padding-bottom: 25px;
}
.inside-header-question{
    padding-top: 190px;
}
hr{
    margin-bottom: 8px;
}
.indside-header-textUnderLine{
    margin-bottom: 8px;
    font-size: 12px;
}