<div class="container-fluid">

  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-2 question-style">

      <p class="float-left">QUESTIONS</p>
      <p class="float-right">
        <a href="">
          <img border="0" alt="" src="https://cdn4.iconfinder.com/data/icons/material-design-content-icons/512/add-circle-512.png"
            width="100" height="100">
        </a>
      </p>
    </div>
    <div class="col-md-6">

      <div class="float-right vertical-allign">
        <input name="inp" type="radio">
        <span class="space-pad1">My shelf</span>
        <input name="inp" type="radio">
        <span class="space-pad2">All question</span>
      </div>

    </div>

    <div class="col-md-2 text-center last-col">
      <div class="vertical-allign text-center">
        <span>Sort by:</span>

        <span>
          <a href="">
            recent
          </a>
        </span>

        <span>or</span>

        <span>
          <a href="">
            hot
          </a>
        </span>
      </div>
    </div>
  </div>


  <div class="row ">
    <div class="col-md-2"></div>
    <div class="col input-group">
      <input type="text" class="form-control" placeholder="Search question">
    </div>
    <div class="col-md-2 text-center">
      <button class="btn btn-outline-secondary" type="button">SEARCH</button>
    </div>
  </div>

</div>
